.section-4 {
    width: 90%;
    margin: auto;
  }
  .blog-description {
    width: 100%;
    margin-bottom: 70px;
    display: flex;
  
    flex-direction: column;
  }
  .blog-heading h3 {
    font-size: 1.5rem;
    color: #e87eff;
    margin-bottom: 15px;
  }
  .blog-heading p {
    font-size: 0.875rem;
    color: #adabab;
  }
